{% extends "base.html" %} {% block content%}
<div class="grid grid-cols-12">
  <div class="col-span-4 p-10 bg-blue-500">01</div>
  <div class="col-span-5 p-10 bg-pink-500">02</div>
  <div class="col-span-3 p-10 bg-cyan-500 grid grid-cols-subgrid">
    <div class="col-start-2">03</div>
  </div>
</div>

<button class="btn btn-primary">click me</button>
<button class="btn btn-secondary">click me</button>
<button class="btn btn-accent btn-outline">click me</button>
<button class="btn rounded-full">Click me</button>

{% endblock %}
